[package]
edition = "2024"
name = "containerized"
version = "0.1.0"

[dependencies]
confique = { workspace = true }
daemon-slayer = { workspace = true, features = [
  "console",
  "client",
  "cli",
  "config",
  "error-handler",
  "process",
  "logging",
  "signals",
  "server",
  "docker",
] }
derive_more = { workspace = true, default-features = false, features = [
  "as_ref",
] }
serde = { workspace = true }
tar = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing = { workspace = true }
bollard = { workspace = true, features = ["buildkit", "chrono"] }
flate2 = { workspace = true }
ignore = { workspace = true }
http-body-util = { workspace = true }

[[bin]]
name = "containerized-client"
path = "src/bin/client.rs"

[[bin]]
name = "containerized-server"
path = "src/bin/server.rs"
