on: [push]

name: CI

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: macos-15
            test: sudo cargo make test-admin
            rustflags: ""
          - os: macos-15
            test: cargo make test
            rustflags: ""
          - os: macos-14
            test: sudo cargo make test-admin
            rustflags: ""
          - os: macos-14
            test: cargo make test
            rustflags: ""
          - os: macos-13
            test: sudo cargo make test-admin
            rustflags: ""
          - os: macos-13
            test: cargo make test
            rustflags: ""
          - os: ubuntu-latest
            test: sudo -E env PATH="$PATH" cargo make test-admin
            rustflags: ""
          - os: ubuntu-latest
            rustflags: ""
            test: cargo make test
            rustflags: ""
          - os: windows-latest
            test: cargo make test-admin
            rustflags: -Csymbol-mangling-version=v0
      fail-fast: false
    name: Run ${{ matrix.test }} on ${{ matrix.os }}
    env:
      RUSTFLAGS: ${{ matrix.rustflags }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.test }}-${{ matrix.os }}"
      - name: Install extra deps (ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libayatana-appindicator3-dev librsvg2-dev libxdo-dev
      - name: clippy
        run: cargo clippy --all-features
      - name: Install cargo-make
        uses: taiki-e/install-action@cargo-make
      - name: test
        run: |
          cargo make build-all
          ${{ matrix.test }}
      - name: check examples
        run: |
          cd ./examples
          cargo check
